
body#preview {
    margin: 0 1em 0 50%;
    overflow: auto;
}

textarea#source {
    position: fixed;
    top: 1em;
    left: 1em;
    bottom: 1em;
    width: 48%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

/*
canvas#outline {
    position: fixed;
    top: 4em;
    right: 1em;
    opacity: 0.3;
}
canvas#outline:hover {
    position: fixed;
    top: 4em;
    right: 1em;
    opacity: 1;
}
*/

/* Numbered Headings */
body {
    counter-reset: headone;
    counter-reset: headtwo;
    counter-reset: headthree;
    counter-reset: headfour;
    counter-reset: headfive;
    counter-reset: headsix;
}
h1 {
    counter-reset: headtwo;
}
h2 {
    counter-reset: headthree;
}
h3 {
    counter-reset: headfour;
}
h4 {
    counter-reset: headfive;
}
h5 {
    counter-reset: headsix;
}
/*h1:before {
    content: counter(headone) " - ";
    counter-increment: headone;
}*/
h2:before {
    content: counter(headtwo) " - ";
    counter-increment: headtwo;
}
h3:before {
    content: counter(headtwo) "." counter(headthree) " - ";
    counter-increment: headthree;
}
h4:before {
    content: counter(headtwo) "." counter(headthree) "." counter(headfour) " - ";
    counter-increment: headfour;
}
h5:before {
    content: counter(headtwo) "." counter(headthree) "." counter(headfour) "." counter(headfive) " - ";
    counter-increment: headfive;
}
h6:before {
    content: counter(headtwo) "." counter(headthree) "." counter(headfour) "." counter(headfive) "." counter(headsix) " - ";
    counter-increment: headsix;
}
